<html>
    <head>
        <title>Attrition Prediction Software</title>
    <style>
        img
        {
            width :50%;
            height:50%;
        }
    </style>
    
    </head>

    <body>
        <h1>Categorical Graphs</h1>
        <img src="EDA_plots\categorical\grouped_bar_plot_BusinessTravel.png" alt="Business Travel"/>
        <img src="EDA_plots\categorical\grouped_bar_plot_Department.png" alt="Department"/>
        <img src="EDA_plots\categorical\grouped_bar_plot_EducationField.png" alt="Education Field"/>
        <img src="EDA_plots\categorical\grouped_bar_plot_Gender.png" alt="Gender"/>
        <img src="EDA_plots\categorical\grouped_bar_plot_JobRole.png" alt="Job Role"/>
        <img src="EDA_plots\categorical\grouped_bar_plot_MaritalStatus.png" alt="Marital Status"/>
        <img src="EDA_plots\categorical\grouped_bar_plot_Over18.png" alt="Over 18"/>
        <img src="EDA_plots\categorical\grouped_bar_plot_OverTime.png" alt="Over Time"/>


        <h1>Numeric Graphs</h1>
        <img src="EDA_plots\numeric\stack_bar_plot_Age.png" alt="Age"/>
        <img src="EDA_plots\numeric\stack_bar_plot_DailyRate.png" alt="Daily Rate"/>
        <img src="EDA_plots\numeric\stack_bar_plot_DistanceFromHome.png" alt="Distance From Home"/>
        <img src="EDA_plots\numeric\stack_bar_plot_Education.png" alt="Education"/>
        <img src="EDA_plots\numeric\stack_bar_plot_EmployeeCount.png" alt="Employee Count"/>
        <img src="EDA_plots\numeric\stack_bar_plot_EmployeeNumber.png" alt="Employee Number"/>
        <img src="EDA_plots\numeric\stack_bar_plot_EnvironmentSatisfaction.png" alt="Environment Satisfaction"/>
        <img src="EDA_plots\numeric\stack_bar_plot_HourlyRate.png" alt="Hourly Rate"/>
        <img src="EDA_plots\numeric\stack_bar_plot_JobInvolvement.png" alt="Job Involvement"/>
        <img src="EDA_plots\numeric\stack_bar_plot_JobLevel.png" alt="Job Level"/>
        <img src="EDA_plots\numeric\stack_bar_plot_JobSatisfaction.png" alt="Job Satisfaction"/>
        <img src="EDA_plots\numeric\stack_bar_plot_MonthlyIncome.png" alt="Monthly Income"/>
        <img src="EDA_plots\numeric\stack_bar_plot_MonthlyRate.png" alt="Monthly Rate"/>
        <img src="EDA_plots\numeric\stack_bar_plot_NumCompaniesWorked.png" alt="No. Companies Worked"/>
        <img src="EDA_plots\numeric\stack_bar_plot_PercentSalaryHike.png" alt="Percent Salary Hike"/>
        <img src="EDA_plots\numeric\stack_bar_plot_PerformanceRating.png" alt="Performance Rating"/>
        <img src="EDA_plots\numeric\stack_bar_plot_RelationshipSatisfaction.png" alt="Relationship Satisfaction"/>
        <img src="EDA_plots\numeric\stack_bar_plot_StandardHours.png" alt="Standard Hours"/>
        <img src="EDA_plots\numeric\stack_bar_plot_StockOptionLevel.png" alt="Stock Option Level"/>
        <img src="EDA_plots\numeric\stack_bar_plot_TotalWorkingYears.png" alt="Total Working Years"/>
        <img src="EDA_plots\numeric\stack_bar_plot_TrainingTimesLastYear.png" alt="Training Times Last Year"/>
        <img src="EDA_plots\numeric\stack_bar_plot_WorkLifeBalance.png" alt="Work Life Balance"/>
        <img src="EDA_plots\numeric\stack_bar_plot_YearsAtCompany.png" alt="Years At Company"/>
        <img src="EDA_plots\numeric\stack_bar_plot_YearsInCurrentRole.png" alt="Years In Current Role"/>
        <img src="EDA_plots\numeric\stack_bar_plot_YearsSinceLastPromotion.png" alt="Years Since Last Promotion"/>
        <img src="EDA_plots\numeric\stack_bar_plot_YearsWithCurrManager.png" alt="Years With Current Manager"/>


        <h1>Outliers Graphs</h1>
        <img src="EDA_plots\outliers\boxplot_Age.png" name="Age"/>
        <img src="EDA_plots\outliers\boxplot_DailyRate.png" alt="Daily Rate"/>
        <img src="EDA_plots\outliers\boxplot_DistanceFromHome.png" alt="Distance From Home"/>
        <img src="EDA_plots\outliers\boxplot_Education.png" alt="Education"/>
        <img src="EDA_plots\outliers\boxplot_EmployeeCount.png" alt="Employee Count"/>
        <img src="EDA_plots\outliers\boxplot_EmployeeNumber.png" alt="Employee Number"/>
        <img src="EDA_plots\outliers\boxplot_EnvironmentSatisfaction.png" alt="Environment Satisfaction"/>
        <img src="EDA_plots\outliers\boxplot_HourlyRate.png" alt="Hourly Rate"/>
        <img src="EDA_plots\outliers\boxplot_JobInvolvement.png" alt="Job Involvement"/>
        <img src="EDA_plots\outliers\boxplot_JobLevel.png" alt="Job Level"/>
        <img src="EDA_plots\outliers\boxplot_JobSatisfaction.png" alt="Job Satisfaction"/>
        <img src="EDA_plots\outliers\boxplot_MonthlyIncome.png" alt="Monthly Income"/>
        <img src="EDA_plots\outliers\boxplot_MonthlyRate.png" alt="Monthly Rate"/>
        <img src="EDA_plots\outliers\boxplot_NumCompaniesWorked.png" alt="No. Companies Worked"/>
        <img src="EDA_plots\outliers\boxplot_PercentSalaryHike.png" alt="Percent Salary Hike"/>
        <img src="EDA_plots\outliers\boxplot_PerformanceRating.png" alt="Performance Rating"/>
        <img src="EDA_plots\outliers\boxplot_RelationshipSatisfaction.png" alt="Relationship Satisfaction"/>
        <img src="EDA_plots\outliers\boxplot_StandardHours.png" alt="Standard Hours"/>
        <img src="EDA_plots\outliers\boxplot_StockOptionLevel.png" alt="Stock Option Level"/>
        <img src="EDA_plots\outliers\boxplot_TotalWorkingYears.png" alt="Total Working Years"/>
        <img src="EDA_plots\outliers\boxplot_TrainingTimesLastYear.png" alt="Training Times Last Year"/>
        <img src="EDA_plots\outliers\boxplot_WorkLifeBalance.png" alt="Work Life Balance"/>
        <img src="EDA_plots\outliers\boxplot_YearsAtCompany.png" alt="Years At Company"/>
        <img src="EDA_plots\outliers\boxplot_YearsInCurrentRole.png" alt="Years In Current Role"/>
        <img src="EDA_plots\outliers\boxplot_YearsSinceLastPromotion.png" alt="Years Since Last Promotion"/>
        <img src="EDA_plots\outliers\boxplot_YearsWithCurrManager.png" alt="Years With Current Manager"/>

        <h1>Miscellaneous Graphs</h1>
        <img src="uploaded_EDA\histogram_age.png" name="Age"/>
        <img src="uploaded_EDA\histogram_dailyrate.png" name="Age"/>
        <img src="uploaded_EDA\histogram_distfromhome.png" name="Age"/>
        <img src="uploaded_EDA\histogram_hourlyrate.png" name="Age"/>
        <img src="uploaded_EDA\histogram_jobrole.png" name="Age"/>
        <img src="uploaded_EDA\histogram_monthlyincome.png" name="Age"/>
        <img src="uploaded_EDA\histogram_monthlyrate.png" name="Age"/>
        <img src="uploaded_EDA\histogram_numcomapnies.png" name="Age"/>
        <img src="uploaded_EDA\histogram_totalworking.png" name="Age"/>
        <img src="uploaded_EDA\histogram_travel.png" name="Age"/>
        <img src="uploaded_EDA\pie_attrition.png" name="Age"/>
        <img src="uploaded_EDA\pie_notovertime.png" name="Age"/>
        <img src="uploaded_EDA\pie_overtime.png" name="Age"/>

    </body>
    

</html>